<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kd8bny.maintenanceman" >

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.main.activity_main"
            android:label="@string/app_name"
            android:parentActivityName=".ui.main.activity_main" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.add.activity_add_fleetRoster"
            android:label="@string/title_add_vehicle"
            android:parentActivityName=".ui.main.activity_main">

        </activity>
        <!--<provider
            android:name=".data.vehicleLog_ContentProvider"
            android:authorities="com.kd8bny.maintenanceman.vehicleLogDB.contentprovider" >
        </provider>-->
    </application>
</manifest>
